<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Path of file is in /bin/release-->
    <add key="FilePath" value="\data\" />
    <add key="FileName" value="train_dataset.csv" />
    <add key="EPSG" value="0.0000000001" />
    <add key="EPSF" value="0" />
    <add key="EPSX" value="0" />
    <add key="STPMAX" value="0.1" />
    <add key="MAXITS" value="0" />
  </appSettings>
</configuration>